/************
//-----------------------------
// FORMULARIO
//-----------------------------
************/

fieldset{
    border: 0px; 
    padding: 5px 10px 5px 5px; 
    margin: 0px;
}

legend { 
    font-size: 16px;
    font-weight: bold;
    border-bottom: 0;
    margin-bottom: 0;
}

.btn-primary{
    background: #EC008A;
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold; 
    line-height: 2; 
    border: 2px solid #CD032E; 
    cursor: pointer; 
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-primary:hover, .btn-primary:focus{
    background: #ffffff;
    color: #EC008A;
    border: 2px solid #EC008A;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;  
}

.form-control{ 
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #EC008A;
}

.form-control:focus{
    border-color: white;
    border-bottom: 2px solid #EC008A;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(236,0,138,.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(236,0,138,.3);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: white;
}

label{
    font-style: italic;
    font-weight: 500;
}

.check-text{
    font-style: normal;
}

select{
    cursor: pointer;
}

.btn-primary[disabled] {
    background: #999999;
    border: 1px solid #999999;
}

.btn-primary[disabled]:hover {
    background: #999999;
    border: 1px solid #999999;
}

fieldset[disabled]{
    border: 2px solid #EC008A;
}

select[multiple]{
    overflow: hidden;
}

.input-group-addon {
    color: #555;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #EC008A;
}

#map_canvas{
    width: 100%;
    height: 400px;
}